@charset "UTF-8";

table {
	width: 100%;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 50px;
	width: 100%;

	/*text-align: left;*/
}

tbody {
	height: 400px;
	overflow-y: auto;
}

thead {
	/* fallback */
	
}

tbody td, thead th {
	width: 20%;
	float: left;
}
.email-col {
	width: 45%;
	float: left;
}

.status-col {
	width: 15%;
	float: left;
}

.simque-user-icon {
	font-size: 20px;
}

.simque-brand-logo{
	height: 40px;
}

.content{
	margin-top: 35px;
}

.content form{
	margin: auto;
}

.simque-btn{
	background-color: #991f3d;	
	color: white;
}

.navbar{
	box-shadow: 0px 0px 13px rgb(119,119,119);
}


.footer-impressum{
	background: #991F3D; 
	color:white;
}

.link-impressum{
	color:white !important;
}