<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8"></meta>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	

<style type="text/css">
.reminderbutton{
width:100px;
height:30px;
bottom: 100px;
left: 80%;

}
</style>



<title>Invitation Service</title>
</head>
<body>


	<div>
		<span class="jumbotron"
			style="justify-content: center; display: flex;">
			<h1>InvitationService Startpage</h1>
		</span>
	</div>
<div class="fixed-bottom reminderbutton" >

<input class="btn btn-warning" type="button" value="Remind your people!"/>
</div>

	<!--  -->
	<div class="container" style="margin-top: 50px; ">
		<div class="row justify-content-center" style="">

			<div class="col-sm-8" style="margin-left:0; margin-right:0;">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="TableRow,iterStat : ${liste}" >
							<th th:text="${iterStat.count}"></th>
							<td th:text="${TableRow.name}"></td>
							<td th:text="${TableRow.email}"></td>
							<td th:text="${TableRow.status}"></td>
						</tr>
	
						
					</tbody>
				</table>
			</div>


		</div>
	</div>

























</body>
</html>