<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8"></meta>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	

<style type="text/css">
.reminderbutton{
width:100px;
height:30px;
bottom: 100px;
left: 80%;

}
</style>



<title>Invitation Service</title>
</head>
<body>


	<div>
		<span class="jumbotron"
			style="justify-content: center; display: flex;">
			<h1>InvitationService Startpage</h1>
		</span>
	</div>
<div class="fixed-bottom reminderbutton" >

<input class="btn btn-warning" type="button" value="Remind your people!"/>
</div>

	<!--  -->
	<div class="container" style="margin-top: 50px; ">
		<div class="row justify-content-center" style="">

			<div class="col-sm-8" style="margin-left:0; margin-right:0;">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody style="height: 400px;">
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>mark@mark.de</td>
							<td><span class="glyphicon glyphicon-ok-sign"
								style="color: green;"></span>
								</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Thornton</td>
							<td>Thornton@thornton.com</td>
							<td>
								
								<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/DroidSansMono.svg" style="height:10px;"></img>
								</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the@Bird</td>
							<td><span class="glyphicon glyphicon-remove-sign"
								style="color: red;"></span></td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>

























</body>
</html>