<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"></meta>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	

<title>Invitation Service</title>
</head>
<body>



<!--  -->
<table class="table table-striped">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@mark.de</td>
      <td> <span class="glyphicon glyphicon-ok-sign"></span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Thornton</td>
      <td>Thornton@thornton.com</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>









<p >
<span class="glyphicon glyphicon-cloud" style="color:black;"></span>
</p>



















</body>
</html>