<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, user-scalable=no"></meta>
<title>SIMQUE</title>

<link type="text/css" rel="stylesheet" th:href="@{/UI/css/global-style.css}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
<link rel="shortcut icon" th:href="@{img/favicon.ico}"
	type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Nunito"
	rel="stylesheet"></link>
	

</head>

<body style="font-family: 'Nunito', sans-serif;"
	onresize="resizeTrigger()">

	
	<div class="main"></div>

	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: rgba(248, 248, 248, 0.95); z-index: 2;">
		<a class="navbar-brand" href="https://simque.de/"><img class="simque-brand-logo"
			th:src="@{/UI/img/logo_simque.png}" /></a>

		<!-- 		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#">Meine
						Umfragen <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Neue
						Umfrage</a></li>
				<li class="nav-item"><a class="nav-link simque-user-icon"
					href="#"><i class="fas fa-user-circle"></i></a></li>
			</ul>
		</div> -->
	</nav>


	<div id="main-container" class="container" >
		<div class="row" style="justify-content: center;">
			<!-- 			<div class="col-sm-8" -->
			<!-- 				style="background-color: rgba(256, 256, 256, 0.95); height: 300px; padding-top: 20px;"> -->
			<!-- 				<h3>SimQue - Your Simple Questionnaire</h3> -->
			<!-- 				<p>Schön, dass Du hier bist! Gib Deine Emailadresse ein und wir -->
			<!-- 					senden Dir deinen persönlichen Zugangslink, anschließend kannst Du -->
			<!-- 					sofort mit Deiner ersten Umfrage starten.</p> -->

			<!-- 			</div> -->
			<div th:if="${showLogin}" class="col-md-9 col-sm-12 col-lg-9 ">
				<h3>SimQue - Your Simple Questionnaire</h3>
				<p>Schön, dass Du hier bist! Gib Deine Emailadresse ein und wir
					senden Dir deinen persönlichen Zugangslink, anschließend kannst Du
					sofort mit Deiner ersten Umfrage starten.</p>

				<form enctype="multipart/form-data" th:object="${user}"
					th:action="@{goToConfirmation}" method="post" style="margin: auto;">

					<input class="form-control" type="text" th:field="*{Email}" placeholder="me@example.com"
						style="width: 50%; min-width:320px; max-width:60%; text-indent: 2px;" />
					<div>


						<div th:if="${errormessage}"
							style="margin-top: 3px; min-height: 10px;">
							<label th:text="${errormessage}" style="color: red;"></label>
						</div>
						<!-- 	<div th:if="${empty errormessage}" style="margin-top: 3px; height: 10px; display: block"></div> -->
					</div>
					
					<div>
						<button class="btn btn-primary" type="submit" value="Login"
							style="background-color: #991F3D; border-color: #991F3D; margin-top: 15px;">Los
							Geht's</button>
					</div>
					
				</form>
			</div>



			<div th:if="${not showLogin}" class="col-md-9 col-sm-12 col-lg-9 "
				style="background-color: rgba(256, 256, 256, 0.95); padding: 20px; box-shadow: 0px 0px 10px rgb(70, 70, 70);">


				<div th:if="${userExisted}">
					<div style="text-align: center; margin-bottom: 15px;">
						<i style="font-size: 50px; color: LightGreen;"
							class="far fa-check-circle"></i>
					</div>
					<p>
						Hallo <b th:text="${email}"></b>, schön, dass du wieder da bist.
						Wir haben Dir eben ein Email mit einem Link gesendet. Öffne die
						Email und klicke den Link an. Viel Spaß!
					</p>
				</div>
				<div th:if="${not userExisted}">
					<div style="text-align: center; margin-bottom: 15px;">
						<i style="font-size: 50px; color: LightGreen;"
							class="far fa-check-circle"></i>
					</div>
					<p>
						Wir haben Dir soeben eine E-Mail an <b th:text="${email}" style="width:100% ; text-overflow:'...'; white-space: nowrap; overflow:hidden;"></b>
						gesendet. Öffne die Email und klicke den Link an. Schon kannst du
						damit beginnen, die erste Umfrage zu erstellen. Viel Spaß!
					</p>
				</div>

			</div>


		</div>

	</div>
 <footer class="footer fixed-bottom footer-impressum">
  
  <a class="nav-link link-impressum"  th:href="@{impressum}">Impressum und Datenschutzerklärung</a>
      </footer>


</body>


<script type="text/javascript">
	//<![CDATA[

	$(document).ready(function() {
		var w = window.outerWidth;
		if (w < 576) {
			$("#main-container").css('margin-top', "0px");
		} else {
			$("#main-container").css('margin-top', "40px");
		}
	});

	function resizeTrigger() {
		var w = window.outerWidth;
		if (w < 576) {
			$("#main-container").css('margin-top', "0px");
		} else {
			$("#main-container").css('margin-top', "40px");
		}

	}
	//]]>
</script>


</html>